{% extends 'base.html' %}

{% block title %}Подробный просмотр задачи{% endblock %}

{% block content %}
    <div class="container main-container">
        <h3>Просмотр задачи</h3>
        <div class="container">
            <div class="text">
                <p><b>Title:</b> {{ task.title }}</p>
                <p><b>Description:</b> {{ task.description }}</p>
                <p><b>Status:</b> {{ task.status }}</p>
                <p>{% if types %}
                    <div class="row">
                        {% for type in types %}
                            <div class="col-3">
                                <p><b>Type:</b> {{ type }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                </p>
                <p><b>Date created:</b> {{ task.created_at }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1 button-margin">
                <a href="{% url 'task_delete' task.pk %}" class='btn btn-danger '>Удалить</a>
            </div>
            <div class="col-1">
                <a href="{% url 'task_update' task.pk %}" class='btn btn-primary'>Редактировать</a>
            </div>
        </div>
    </div>
{% endblock %}
